.products {
    display: flex;
    width: 25%;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    height: auto;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

img {
    width: 100%;
    /* margin-top: 10px; */
    height: 300px;
}

.product-desc {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.product-desc span {
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
    font-size: 1.1rem;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}